.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 상단 중앙 정렬 */
  min-height: 100vh;
  padding: 20px;
  background-color: #121212; /* 다크 배경색 */
  color: #ffffff; /* 텍스트 색상을 흰색으로 설정 */
  position: relative;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 2.5rem;
  color: #ffffff; /* 제목 텍스트 색상을 흰색으로 설정 */
}

.searchContainer {
  display: flex;
  align-items: center;
  background-color: #1e1e1e;
  border-radius: 8px;
  padding: 5px 10px;
  width: 100%;
  max-width: 300px; /* 검색박스 너비를 절반 정도로 조절 */
  margin-bottom: 20px;
}

.searchIcon {
  font-size: 1.5rem;
  color: #ffffff;
  margin-right: 10px;
}

.searchInput {
  background: none;
  border: none;
  color: #ffffff;
  outline: none;
  font-size: 1rem;
  width: 100%;
}

.main {
  width: 100%;
  max-width: 1200px;
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap; /* 가로로 여러 줄로 쌓이도록 설정 */
  justify-content: center; 
  gap: 20px;
  width: 100%; /* 컨테이너 너비를 100%로 설정 */
}

.card {
  display: flex;
  align-items: center; /* 아이콘과 텍스트를 세로로 가운데 정렬 */
  background-color: #1e1e1e; /* 카드 배경색을 어두운 회색으로 설정 */
  border: 1px solid #333; /* 테두리 색상을 어두운 회색으로 설정 */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* 그림자 색상을 어두운 색으로 설정 */
  padding: 20px;
  width: 100%; /* 카드 너비를 100%로 설정 */
  height: 120px; 
  max-width: 300px; /* 카드 최대 너비를 설정 */
  text-align: left;
  color: #ffffff; /* 카드 텍스트 색상을 흰색으로 설정 */
  cursor: pointer; /* 커서를 포인터로 변경 */
  transition: transform 0.2s; /* 호버 시 애니메이션 추가 */
}

.card:hover {
  transform: scale(1.05); /* 호버 시 카드 확대 */
}

.icon {
  display: flex; /* 아이콘을 flex 컨테이너로 설정 */
  align-items: center; /* 아이콘을 세로로 가운데 정렬 */
  font-size: 3rem; /* 아이콘 크기를 크게 설정 */
  margin-right: 20px;
}

.cardContent {
  flex: 1;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffffff; /* 카드 제목 텍스트 색상을 흰색으로 설정 */
}

.card p {
  font-size: 1rem;
  color: #cccccc; /* 카드 설명 텍스트 색상을 밝은 회색으로 설정 */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 최대 2줄로 설정 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.githubMark {
  position: absolute;
  filter: invert(1);
  top: 0;
  right: 0;
  transform-origin: top right; /* 스케일에 반응하도록 설정 */
  transition: transform 0.5s ease-in-out; /* 자연스럽게 커지도록 애니메이션 추가 */
}

.githubMark:hover {
  animation: octocat-wave 560ms ease-in-out;
  transform: scale(1.5); 
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  .githubMark, 
  .githubMark:hover {
    transform: scale(0.6); 
  }
}

/* 모바일화면에서 비표시할 서비스 */
@media (max-width: 768px) {
  .onlyPC {
    display: none;
  }
}